@import url(other.css);
body {

    font-family: 'Maven Pro', sans-serif;
    border-left: 1.7;
    font-weight: 400;
    font-size: 14px; }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotting: antialiased;
}
.main{
    height: 800px;
}
header {
    background-color: #b9b8b8;

    
}

header nav .left{
    background-color: white;
    padding: 2rem ;
    width: 65%;
    padding-left: 15rem;
    text-transform: uppercase;
}
header nav .left a{
    padding : 0.5rem;
    margin-left: 3rem;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid black;

}
header nav .left a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-color: green;
    transition: all 0.5s ease-in-out;
}
header nav .right{
    padding-left: 5rem;
    
}

header nav .right button{
    padding : 1rem 4rem;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color:transparent;
    color: black;
    border: 0px solid black;
    border-radius: 30px;
    background-color: white;
   

}
header nav .right button:hover{
    padding : 1rem 7rem;
    transition: all 0.5s ease;
    color: black;
    background-color: white;
    cursor: pointer;   
}


.box-1{
    background-color: white;
    width: 65%;
    padding: 2rem;
    padding-left: 18rem;
    padding-top: 10%;
}

.box-1 h1{
    color:green;
    font-weight: 500;
    text-transform: uppercase;
    
}
.box-1 h1 span{
    color: rgb(0, 0, 0);
 
}
.box-1 p{
    padding: 3 rem;
    padding-right: 12rem;
    line-height: 1.9;
    margin-bottom: 2rem;
    font-size: 16px;

}
.image{
    padding: 1rem;
    padding-top: 10%;
}

.image img{
    width: 400px;
    padding: 0rem;
    margin-left: -12rem;
    border-left: 4px solid black;
    border-right: 4px solid white;
    border-radius: 20px;
    
}
.btn1{
    padding : 1rem 4rem;
    font-size: 18px;
    font-weight: 500;
    background-color:black;
   color: white;
   text-transform: uppercase;
   border: 2px solid black;
   text-decoration: none;

}
.btn1:hover{
    transition: all 0.5s ease;   
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
}
.btn2{
    padding : 1rem 4rem;
    font-size: 18px;
    font-weight: 500;
    background-color:rgb(248, 248, 248);
   color: rgb(0, 0, 0);
   text-transform: uppercase;
   text-decoration: none;
   border: 2px solid black;

}
.btn2:hover{
    transition: all 0.5s ease;   
    cursor: pointer;
    color: white;
    background-color: rgb(31, 14, 14);
}

.site-section {
    padding-top: 120px;
    height: 500px;
 }

 .text-center{
     text-align: center;
 }

 .img-lines {
    margin: 15px 0 40px;
    width: 150px;
    
}
.container{
    width: 50%;
    margin: auto;
}
.header1{
    font-size: 34px;
}
.row p{
    padding-top: 40px;
    font-size: 24px;

}
.down a{
    margin-top: 50%;
    text-decoration: none;
    
    
}

.row1 {
    text-transform: uppercase;
    list-style: none;
    width: 700px;
    padding: 20px;
    color: black;
    margin: 60px auto;
    box-shadow: 0  14px 28px rgba(192, 192, 192, 0),0  10px 10px rgba(0, 0, 0, 0.22);
 }
.row1 li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0  1px 3px rgba(0, 0, 0, 0.12),0  1px px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.bar:hover{
    box-shadow: 0  14px 28px rgba(0, 0, 0, 0),0  10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    color: white;
    height: 20px;
    float: left;
    background-color: rgb(255, 0, 0);
}
.wordpress{
    width: 90%;
    animation: wordpress 3s;

}
.gd{
    width: 60%;
    animation: gd 3s;

}
.html{
    width: 80%;
    animation: html 3s;

}
.css{
    width: 70%;
    animation: css 3s;

}
.js{
    width: 70%;
    animation: js 3s;

}
@keyframes wordpress{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes gd{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.work-section{
    padding-top: 500px;
}
.container2{
    
    background-color: #dadada;
    padding: 1%;
}

.wrapper{

    width: 100%;
    margin: 0 auto;
}
.clearfix{
    float: none;
    clear: both;
}
.col-4{
    width: 30%;
    background-color: white;
    text-align: center;
    margin: 1%;
    padding: 1%;
    float: left;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0  2px 6px rgba(0, 0, 0, 0.25),0  1px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.col-4 h1{
    padding-top: 5%;
    padding-bottom: 10%;
}
.col-4 p{
    font-size: 16px;
}
.col-5{
    width: 50%;
    background-color: white;
    text-align: center;
    margin:  auto;
    padding: 1%;
    float: center;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0  2px 6px rgba(0, 0, 0, 0.25),0  1px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.col-5 h1{
    padding-top: 5%;
    padding-bottom: 5%;
}
.col-5 p{
    font-size: 16px;
}
.work-section2{
    background-color: white;
    padding: 1%;
}


.image1{
    padding-top: 7%;
    height: 500px;
    padding-left: 60px;
}


.main1{
    height: 800px;
    background-color: white;
}


.box-2{

    background-color: white;
    width: 65%;
    padding: 2rem;

}

.image1 h1{
    color:rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    
}

.image1 p{
    padding: 3 rem;
    padding-right: 12rem;
    line-height: 1.9;
    margin-bottom: 2rem;

}
.image1{

    padding-top: 20%;
}
.image2{
    padding-left: 5%;
    padding-top: 20%;
}
.box-2 img{
    width: 1000px;
    height: 600px;
    
    
}
input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    width: 40%;
    margin: 5%;
    padding: 1%;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  /* add in css*/
  .fa {
    padding-top: 20px;
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  

  
  .fa-instagram {
    background: #a80528;
    color: white;
  }

 footer{
    
     padding-top: 800px;
 }
 .foot{
     background-color: lavender;
     text-align: center;
     color: black;
     height: 150px;
     padding-top: 3%;
     font-size: 24px;
 }